Admin/Connected Services/Server/NetTime.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NetTime" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:10049/NetTime.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:10049/NetTime.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INetTime_GetTime_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTime" />
  </wsdl:message>
  <wsdl:message name="INetTime_GetTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeResponse" />
  </wsdl:message>
  <wsdl:message name="INetTime_SetTime_InputMessage">
    <wsdl:part name="parameters" element="tns:SetTime" />
  </wsdl:message>
  <wsdl:message name="INetTime_SetTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetTimeResponse" />
  </wsdl:message>
  <wsdl:message name="INetTime_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="INetTime_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:portType name="INetTime">
    <wsdl:operation name="GetTime">
      <wsdl:input wsaw:Action="http://tempuri.org/INetTime/GetTime" message="tns:INetTime_GetTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INetTime/GetTimeResponse" message="tns:INetTime_GetTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetTime">
      <wsdl:input wsaw:Action="http://tempuri.org/INetTime/SetTime" message="tns:INetTime_SetTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INetTime/SetTimeResponse" message="tns:INetTime_SetTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/INetTime/Login" message="tns:INetTime_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INetTime/LoginResponse" message="tns:INetTime_Login_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INetTime" type="tns:INetTime">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTime">
      <soap:operation soapAction="http://tempuri.org/INetTime/GetTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTime">
      <soap:operation soapAction="http://tempuri.org/INetTime/SetTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/INetTime/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NetTime">
    <wsdl:port name="BasicHttpBinding_INetTime" binding="tns:BasicHttpBinding_INetTime">
      <soap:address location="http://localhost:10049/NetTime.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>